/*@-ms-viewport {*/
/*width: device-width;*/
/*}*/

/*@-o-viewport {*/
/*width: device-width;*/
/*}*/

/*@viewport {*/
/*width: device-width;*/
/*}*/
/*!*各个浏览器适配,待测试*!*/
html {
}

body {
    background-color: #eeeeee;
    font-family: sans-serif;
}

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    /*去除bootstrap默认圆角样式*/
    box-sizing: border-box;
}

img {
    width: 100%;
}

iframe {
    pointer-events: none;
}

.navzlj {
    margin-bottom: 0;
}
.navbar-default{
    background-color: #b3b4b7;
}
/*砖石插件*/
.grid{
    margin-left:5%;
    margin-bottom: 100px;
}
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    width: 20%;
    float: left;
}

.grid-item--gigante {
    width:60%;
    z-index: 2; /* above other items */
}
.grid-item:hover {
    cursor: pointer;
}
/*-------*/
.resume{
    max-width: 860px;
    margin-bottom: 400px;
}
.nanimonai{
    margin-bottom: 500px;
}
.footer{
    margin: 10px 0 10px;
}
.myself{
    width: 160px;
}
.slogan{
    background-color: #d2d2d2;
    margin-bottom: 20px;
}
.slogan .tiaose{
    background-color: #d2d2d2;
}
.logo{
    margin-bottom: 50px;
}
.listMenu .glyphicon{
    font-size: 20px;
}




