/*@-ms-viewport {*/
/*width: device-width;*/
/*}*/

/*@-o-viewport {*/
/*width: device-width;*/
/*}*/

/*@viewport {*/
/*width: device-width;*/
/*}*/
/*!*各个浏览器适配,待测试*!*/
html {
}

body {
    background-color: #eeeeee;
}

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    /*去除bootstrap默认圆角样式*/
}

img {
    width: 100%;
}

iframe {
    pointer-events: none;
}

.navzlj {
    margin-bottom: 0;
}
.navbar-default{
    background-color: #b3b4b7;
}
.grid-item {
    width: 200px;
}
.resume{
    max-width: 860px;
}
.nanimonai{
    margin-bottom: 500px;
}
.footer{
    margin: 10px 0 10px;
}
.myself{
    width: 160px;
}
.slogan{
    background-color: #d2d2d2;
    margin-bottom: 20px;
}
.slogan .tiaose{
    background-color: #d2d2d2;
}
.logo{
    margin-bottom: 50px;
}
.listMenu .glyphicon{
    font-size: 20px;
}