<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--强制ie浏览器以最新版本浏览-->
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta name="renderer" content="webkit"><!--兼容国产浏览器,如360-->
    <!-- 上述4个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="Description" content="web前端,前端开发,前端开发工程师,h5开发">
    <meta name="Keywords" content="郑丽君,前端">
    <title>郑丽君</title>
    <!-- Bootstrap-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.min.js"></script>
    <script src="../js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-default navzlj" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html"><span class="glyphicon glyphicon-music"></span> 郑丽君</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="../index.html">主页</a></li>
                <li class=""><a href="#">简历</a></li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Demos<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="vueDemos.html">Vue信息录入</a></li>
                        <li><a href="vueDemos2.html">Vue跨域获取信息</a></li>
                        <li class="divider"></li>
                        <li><a href="css3Tabs.html">css3版选项卡</a></li>
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">分离的链接</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">另一个分离的链接</a></li>-->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="container">
    <h2 class="text-center">Demo</h2>
    <div class="row" id="app">
        <div class="col-md-2">
            <div class="list-group">
                <p class="list-group-item btn" v-link="{ path: '/myVue1'}">vue信息录入</p>
                <p class="list-group-item btn" v-link="{ path: '/myVue2'}">vue跨域获取信息</p>
            </div>
        </div>
        <router-view></router-view>
        <template id="myVue2">
            <div class="col-md-10">
                <div class="panel" id="vue_get">
                    <h3 class="h3">百度搜索下拉框</h3>
                    <div class="panel panel-info">
                        <div class="panel-heading" data-toggle="tooltip" data-placement="left" title="鼠标键盘均可操作">
                            <h4 class="panel-title">请输入搜索信息</h4>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="请输入搜索信息..." v-model="txt" @keyup="get($event)" @keydown.down.prevent="changeDown()" @keydown.up.prevent="changeUp()">
                                <span class="input-group-addon btn btn-info" id="basic-addon1" @click="searchIt()"><span class="glyphicon glyphicon-search"></span>搜索</span>
                            </div>
                            <ul class="list-group" >
                                <li class="list-group-item" v-for="(item,index) in getData" :class="{active:index==nowIndex}" @mouseover="xuanting(index)" @click="dj_search()">{{item}}</li>
                            </ul>
                            <div class="well well-sm" v-show="getData.length==0">暂无信息...</div>
                        </div>
                        <div class="panel-footer text-right"><button class="btn btn-info" @click="deleteAll()">清空搜索内容</button></div>
                    </div>
                </div>
            </div>
        </template>
        <template id="myVue1">
            <div class="col-md-10">
                <div class="panel">
                    <div id="vueBox">
                        <h3 class="h3">vue版信息录入</h3>
                        <form role="form" class="well">
                            <div class="form-group">
                                <label for="username">用户名:</label>
                                <input type="text" id="username" class="form-control" placeholder="请输入用户名" v-model="username">
                            </div>
                            <div class="form-group">
                                <label for="age">年龄:</label>
                                <input type="text" id="age" class="form-control text" placeholder="请输入年龄" v-model="userage">
                            </div>
                            <div class="form-group">
                                <label for="job">职业:</label>
                                <input type="text" id="job" class="form-control text" placeholder="请输入职业" v-model="userjob">
                            </div>
                            <div class="form-group">
                                <input type="button" value="添加" class="btn btn-primary" v-bind:data-toggle="isModal" v-bind:data-target="isTarget" @click="add()">
                                <input type="reset" value="清空" class="btn btn-danger">
                            </div>
                        </form>
                        <div class="panel panel-info">
                            <div class="panel-heading text-center">用户信息列表</div>
                            <table class="panel-body table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center">序号</th>
                                    <th class="text-center">姓名</th>
                                    <th class="text-center">年龄</th>
                                    <th class="text-center">职业</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item,index) in msgData">
                                    <td class="text-center">{{index+1}}</td>
                                    <td class="text-center">{{item.name}}</td>
                                    <td class="text-center">{{item.age}}</td>
                                    <td class="text-center">{{item.job}}</td>
                                    <td class="text-center">
                                        <button class="btn-primary btn-xs juzhong" data-toggle="modal" data-target="#layger" @click="nowIndex=index;modalTitle='提示:是否删除!'">删除</button>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr v-show="msgData.length!=0">
                                    <td class="text-center" colspan="5">
                                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#layger" @click="nowIndex=-99;modalTitle='提示:是否全部删除!'">删除全部</button>
                                    </td>
                                </tr>
                                <tr v-show="msgData.length==0">
                                    <td class="text-center" colspan="5">
                                        <p class="text-muted">暂无信息...</p>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                            <!--模态框-->
                            <div role="dialog" class="modal fade" id="layger">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
                                            <h4 class="modal-title text-danger">{{modalTitle}}</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-danger" data-dismiss="modal" @click="deleteMsg(nowIndex)">确认</button>
                                            <button class="btn btn-primary" data-dismiss="modal">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</section>
<footer class="navbar navbar-default navzlj text-center ">
    <div class="container">
        <p class="footer">@zhenglijun product</p>
    </div>
</footer>

<script src="../js/jquery1.11.2.min.js"></script>
<script src="../js/bootstrap3.3.4.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/vue-resource.js"></script>
<script src="../js/vue-router.js"></script>
<script src="../js/vueApp.js"></script>
</body>
</html>